/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    /*
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    */

    withName: BEDTOOLS_INTERSECT_REGIONS {
        ext.args = "-wo"
        ext.suffix = "regions.bed"
    }

    withName: BEDTOOLS_INTERSECT_WINDOWS {
        ext.args = "-wo"
        ext.suffix = "windows.bed"
    }

    withName: BEDTOOLS_MAKEWINDOWS_500 {
        ext.args = "-w 500 -s 500"
        ext.prefix = "all_samples_500bp_windows"
    }

    withName: BEDTOOLS_GROUPBY_WINDOWS {
        publishDir = [
            path: { "${params.outdir}/02_BINNED/windows" },
            mode: params.publish_dir_mode
        ]
        ext.summary_col = "4"
    }

    withName: BEDTOOLS_GROUPBY_REGIONS {
        publishDir = [
            path: { "${params.outdir}/02_BINNED/region"},
            mode: params.publish_dir_mode
        ]
        ext.summary_col = "4"
    }

    withName: NORMALIZEOVERLAP_REGIONS {
        publishDir = [
            path: { "${params.outdir}/03_NORMALIZED/region" },
            mode: params.publish_dir_mode
        ]
    }

    withName: NORMALIZEOVERLAP_WINDOWS {
        publishDir = [
            path: { "${params.outdir}/03_NORMALIZED/windows" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SORTANDFILTER {
         publishDir = [
            path: { "${params.outdir}/01_FILTERED/" },
            mode: params.publish_dir_mode
        ]
    }
}
