/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BEDTOOLS_INTERSECT_REGIONS {
        ext.args = "-wo"
        ext.suffix = "regions.bed"
    }

    withName: BEDTOOLS_INTERSECT_WINDOWS {
        ext.args = "-wo"
        ext.suffix = "windows.bed"
    }

    withName: BEDTOOLS_MAKEWINDOWS_500 {
        ext.args = "-w 500 -s 500"
        ext.prefix = "all_beds_500bp_windows"
    }

    withName: BEDTOOLS_SORT {
        ext.prefix = 'all_concatenated_sorted'
    }

    withName: CAT_CAT {
        memory = '4 GB'
        ext.prefix = "all_concatenated.bed"
    }

    withName: BEDTOOLS_GROUPBY_WINDOWS {
        ext.summary_col = "4"
    }

    withName: BEDTOOLS_GROUPBY_REGIONS {
        ext.summary_col = "4"
    }
}
